.todo_app {
  margin: 50px auto;
  padding: 20px;
  max-width: 600px;
  background-color: blanchedalmond;
      }    
.top_panel {
    display: flex;
      }
@media only screen and (min-width: 541px)  and (max-width: 720px) {
  .todo_app {
    max-width: 500px;
  } 
   .top_panel>div {
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 320px)  and (max-width: 540px) {
  .todo_app {
    max-width: 320px;
  } 
  .top_panel>div {
    margin-bottom: 20px;
  }
  .top_panel input {
    width: 150px;
 }
}
 @media only screen and (min-width: 280px)  and (max-width: 320px) {
   .todo_app {
      max-width: 250px;
  } 
    .top_panel>div {
      margin-bottom: 20px;
  }
    .top_panel input {
      width: 100px;
  }
}
 @media only screen and (min-width: 280px)  and (max-width: 720px) { 
   .top_panel {
      display: block;
  }
}
      
      